body{
    background-color: skyblue;

}

li {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
    text-align: center;
}

li:first-child{
    margin-bottom: 30px;
    display: block;
}

li +li {
    background: red;
}

li + li + li {
    background: blue;
}

li + li + li + li {
    background: green;
}





